# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# data
data/


# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# latex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.synctex.gz
*.out
